.DS_Store  # don't remove this line!!!!

node_modules/**/*/bower.json
node_modules/**/*/component.json
node_modules/**/*/readme.txt
node_modules/**/*/*.md
node_modules/**/*/*.markdown
node_modules/**/*/HISTORY.md
node_modules/**/*/CHANGELOG.md
node_modules/**/*/.jshintrc
node_modules/**/*/.travis.yml
node_modules/**/*/.tern-project
node_modules/**/*/.gitattributes
node_modules/**/*/.npmignore
node_modules/**/*/.no-sublime-package
node_modules/**/*/.editorconfig
node_modules/**/*/examples
node_modules/**/*/Gruntfile.js
node_modules/**/*/.gitmodules
node_modules/**/*/README*
node_modules/**/*/.eslintrc
node_modules/**/*/.jscs.json
node_modules/**/*/test.js
node_modules/**/*/test
node_modules/**/*/example
node_modules/**/*/man
node_modules/*/**/.bin

node_modules/wrappy/test
node_modules/wordwrap/test
node_modules/wordwrap/example
node_modules/tern/test
node_modules/tern/index.html
node_modules/tern/example
node_modules/tern/emacs
node_modules/tern/doc
node_modules/tern/bin
node_modules/stringstream/example.js
node_modules/acorn/bin
node_modules/.bin
node_modules/acorn/src
node_modules/asn1/tst
node_modules/autolinker/tests
node_modules/autolinker/src
node_modules/xtend/test.js
node_modules/xtend/Makefile
node_modules/underscore/underscore-min.js
node_modules/underscore.string/libpeerconnection.log
node_modules/underscore.string/gulpfile.js
node_modules/underscore.string/foo.js
node_modules/deepmerge/test
node_modules/deepmerge/example
node_modules/highlight.js/docs
node_modules/sigmund/test
node_modules/semver/test
node_modules/remarkable/dist
node_modules/remarkable/bin
node_modules/posix/test
node_modules/optimist/test
node_modules/optimist/example
node_modules/mkdirp/test
node_modules/mkdirp/examples
node_modules/mkdirp/bin
node_modules/minimist/test
node_modules/minimist/example
node_modules/minimatch/test
node_modules/lru-cache/test
node_modules/glob/test
node_modules/glob/node_modules/minimatch/test
node_modules/glob/node_modules/minimatch/browser.js
node_modules/highlight.js/styles
node_modules/semver/bin
node_modules/acorn-jsx/test
node_modules/async/dist
node_modules/balanced-match/test
node_modules/bl/test
node_modules/boom/images/boom.png
node_modules/boom/test
node_modules/brace-expansion/example.js
node_modules/concat-map/example
node_modules/concat-map/test
node_modules/cryptiles/test
node_modules/ctype/man
node_modules/jade/testing
node_modules/jade/Jade.md
node_modules/jade/jade.min.js
node_modules/jade/runtime.js
node_modules/jade/runtime.min.js

node_modules/tern-react/node_modules/tern
node_modules/tern-react/demos
node_modules/tern-react/scripts
node_modules/tern-react/tern_1.5.1
node_modules/typescript/bin/resources
node_modules/typescript/bin/tsc
node_modules/typescript/bin/tsc.js
node_modules/nan/doc
node_modules/nan/tools
node_modules/object-hash/dist

node_modules/async/CHANGELOG.md
node_modules/collect-stream/build.js
node_modules/core-util-is/float.patch
node_modules/core-util-is/util.js
node_modules/jsctags/.coveralls.yml
node_modules/jsctags/.istanbul.yml
node_modules/sigmund/bench.js
node_modules/util-deprecate/browser.js
