node_modules/**/bower.json
node_modules/**/component.json
node_modules/**/readme.txt
node_modules/**/*.md
node_modules/**/*.markdown
node_modules/**/HISTORY.md
node_modules/**/.jshintrc
node_modules/**/.travis.yml
node_modules/**/.tern-project
node_modules/**/.gitattributes
node_modules/**/.npmignore
node_modules/**/.no-sublime-package
node_modules/**/.editorconfig
node_modules/**/examples
node_modules/**/Gruntfile.js
node_modules/**/.gitmodules

node_modules/wrappy/test
node_modules/wordwrap/test
node_modules/wordwrap/example
node_modules/tern/test
node_modules/tern/index.html
node_modules/tern/example
node_modules/tern/emacs
node_modules/tern/doc
node_modules/tern/bin
node_modules/stringstream/example.js
node_modules/acorn/bin
node_modules/.bin
node_modules/acorn/src
node_modules/asn1/tst
node_modules/autolinker/tests
node_modules/autolinker/src
node_modules/xtend/test.js
node_modules/xtend/Makefile
node_modules/underscore/underscore-min.js
node_modules/underscore.string/libpeerconnection.log
node_modules/underscore.string/gulpfile.js
node_modules/underscore.string/foo.js
node_modules/deepmerge/test
node_modules/deepmerge/example
node_modules/highlight.js/docs
node_modules/sigmund/test
node_modules/semver/test
node_modules/remarkable/dist
node_modules/remarkable/bin
node_modules/posix/test
node_modules/optimist/test
node_modules/optimist/example
node_modules/mkdirp/test
node_modules/mkdirp/examples
node_modules/mkdirp/bin
node_modules/minimist/test
node_modules/minimist/example
node_modules/minimatch/test
node_modules/lru-cache/test
node_modules/glob/test
node_modules/glob/node_modules/minimatch/test
node_modules/glob/node_modules/minimatch/browser.js
node_modules/highlight.js/styles
node_modules/semver/bin
